<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
    package="com.cdph.virtualrvm">
	
	<uses-permission
		android:name="android.permission.CAMERA"/>
	
	<uses-permission
		android:name="android.permission.INTERNET"/>
	
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		tools:replace="android:icon"
        android:resizeableActivity="false"
		android:name=".BaseApplication">

        <activity
            android:name=".LoginRegisterActivity"
            android:label="@string/app_name">
            <intent-filter>
				<action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
		<activity
			android:name=".MainActivity"/>
		
		<activity
			android:name=".AdminActivity"
			android:label="@string/app_admin"/>
        
      <meta-data
          android:name="android.max_aspect"
          android:value="4.0"/>

    </application>
	
</manifest>
